<div class="table-orders">
  <div *ngIf="responseStatus == 500">Error of delete. Status error:{{responseStatus}}</div>
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">Client</th>
      <th scope="col">Address</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let orderModel of orderModels">
      <td>{{orderModel.client}}</td>
      <td>{{orderModel.address}}</td>
      <td>

      </td>
      <td><button pButton type="button" label="Delete" class="ui-button-rounded ui-button-danger"
                  (click)="deleteOrder(orderModel.id)">

      </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
