<button pButton type="button" label="Add good" class="ui-button-raised ui-button-success button-add-good"
        (click)="show()">
</button>

<p-dialog header="Edit good" [(visible)]="display" class="edit-dialog">
  <label for="good-name" class="col-form-label">Name:</label>
  <input type="text" class="form-control" id="good-name" value="{{goodModel.name}}" [(ngModel)] = goodModel.name>

  <label for="good-price" class="col-form-label">Price:</label>
  <input type="text" class="form-control" id="good-price" value="{{goodModel.price}}" [(ngModel)] = goodModel.price>
  <div *ngIf="responseStatus == 500">Status error{{responseStatus}}</div>
  <button pButton type="button" label="Close" class="ui-button-raised ui-button-secondary" (click)="close()" id="button-close"></button>
  <button pButton type="button" label="Add" class="ui-button-raised" (click)="addGood()" id="button-add"></button>
</p-dialog>
